flask
sentence-transformers
langchain
langchain-community
langchain-huggingface
faiss-cpu
transformers
torch
python-docx
pypdf
huggingface-hub
SpeechRecognition
pyautogui
pygame
imagehash
psutil 
rich 
matplotlib 
speedtest-cli
mediapipe
